/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}



/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  background-color: #460000;
  color: rgb(253, 242, 229);
  border-bottom: 8px solid #ffe7ae;
  padding: 0.5rem;
  text-align: center;
}

.nav {
  background-color: #fff9ee;
  color: #2f0505;
  padding: 0.5rem;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin: 0 0.5rem;
}

.nav a {
  color: #2f0505;
}
.small-frontpage-box-top-left {
  background-color: #ffffff;
  width: 49%;
  display: inline-block;
  min-height: 10rem;
  box-sizing: border-box;
  vertical-align: top;
}
.small-frontpage-box-top-right {
  background-color: #ffffff;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}


.small-frontpage-box-bottom {
  background-color: #2f0505;
  width: 49%;
  display: inline-block;
  background-color: #ffffff;

}
.big-frontpage-box {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  max-width: 900px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  text-align: left;
  border-bottom: 0.1rem solid #ffe7ae;
}
.big-order-box {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  max-width: 42rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  text-align: left;
  border-bottom: 0.1rem solid #ffe7ae;
}

.big-frontpage-box p {
  padding-bottom: 1rem;
}

.big-frontpage-box dd {
  padding-bottom: 1rem;
}

.big-frontpage-box dt {
  font-weight: bold;
}

.big-frontpage-box h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.big-frontpage-box ul {
  list-style: none;
}

.big-frontpage-box a {
  color: black;
  padding-bottom: 1rem;
}

.big-frontpage-box-no-border {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 1rem;
  text-align: left;
  border-bottom: 0;
}

.big-frontpage-box-no-border a {
  color: black;
}

.table-box {
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  max-width: 900px;
  margin: 2rem;  
  margin-left: 3rem;
  padding-left: 10rem;
  margin-bottom: 0.5rem;
}

.table-box-color1 td {
  background-color: ffe7ae;
  padding: 0.25rem;
}

.table-box-color2 td {
  background-color: #ffffff;
  padding: 0.25rem;
}

.table-box-follower {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}
.table-box-follower a {
  color: black;
}
.order-box-wrapper {
  vertical-align: top;
  display: inline-block;
  min-width: 20em;
  box-sizing: border-box;
  margin: 0.25rem;
}
.order-box {
  box-sizing:border-box;
  color: black;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 20rem;
  border: #ffe7ae 1px solid;
  
}
.order-box div {

  padding-bottom: 1rem;
}
.order-box label {
  display: block;
}

.order-box-input {

  display: block;

}
  

.big-box-top {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 3rem;


  max-width: 56rem;
  height: 100%;
  
}


.big-box-bottom {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 3rem;
  margin-bottom: 2rem;

  max-width: 56rem;
  height: 100%;
  border-bottom: #ffe7ae 1px solid;
  padding-bottom: 2rem;
}

.big-box-bottom h2 {
  padding-bottom: 1rem;
}

.big-box-top h2 {
  padding-bottom: 1rem;
}

.big-box-botttom ul {
  list-style: none;
}

.big-box-bottom li {
  vertical-align: top;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.big-box-bottom h3 {
  padding-bottom: 1rem;
}
.big-box-top h3 {
  padding-bottom: 1rem;
}


.order-box legend {
  font-weight: bold;
}

.footer-frontpage {
  background-color: #460000;
  color: rgb(253, 242, 229);
  border-top: 0.5rem solid #ffe7ae;
  padding: 0.5rem;
  text-align: center;
  min-height: 20rem;
}

.footer {
  background-color: #2f0505;
  color: rgb(253, 242, 229);
  border-top: 8px solid #ffe7ae;
  padding: 0.5rem;
  text-align: center;
  min-height: 30rem;
}

.footer-frontpage dt {
  font-weight: bold;
  padding-top: 1rem;
}
.footer dt {
  font-weight: bold;
  padding-top: 1rem;
}

.left-footer-box-frontpage {
  display: inline-block;
 vertical-align: top;
  padding-right: 1rem;

  width:  fit-content;
  height: 100%;
}

.left-footer-box {
  display: inline-block;

  padding-right: 1rem;

  width:  fit-content;
  height: 100%;
}

.right-footer-box-frontpage {
  display: inline-block;
  padding-left: 1rem;
  vertical-align: top;
  width: fit-content;
  height: 100%;
}

.right-footer-box {
  display: inline-block;
  padding-top: 1rem;
  padding-left: 1rem;

  width: fit-content;
  height: 100%;
}

.right-footer-box-frontpage ul {
  list-style: none;
  padding-top: 1rem;
}

.right-footer-boxul {
  list-style: none;
  padding-top: 1rem;
}


.right-footer-box ul {
  list-style: none;
  padding-top: 1rem;
}


.right-footer-box-frontpage a {
  color: rgb(253, 242, 229);
}

.right-footer-box a {
  color: rgb(253, 242, 229);
}
